* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.oscuro {
  background-color: #18191A;
}

.contenedor-web {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  min-height: calc(100vh - 225px);
}

header {
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

header .logo {
  color: #000;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header .menu .lista-menu {
  list-style: none;
}

header .menu .lista-menu li {
  float: left;
}

header .menu .lista-menu li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.7);
}

header .menu .lista-menu li a:hover {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  color: #000;
}

header .modos {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

header .modos::after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

header .modos.activo {
  background-color: orange;
  color: #000;
}

header .modos.activo::after {
  left: unset;
  right: 0;
}

header .modos span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  background: none;
  color: #fff;
  text-align: center;
}

body.oscuro header {
  background-color: #242526;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.oscuro header .logo {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: #E4E6EB;
}

body.oscuro header .menu .lista-menu li a {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: rgba(228, 230, 235, 0.7);
}

body.oscuro header .menu .lista-menu li a:hover {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: #E4E6EB;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .tarjeta {
  background-color: #fff;
  border-radius: 10px;
  width: 32%;
  min-width: 300px;
  margin-top: 90px;
  min-height: 210px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .tarjeta .img-tarjeta {
  position: absolute;
  width: 100%;
  top: -50px;
  text-align: center;
}

main .tarjeta .img-tarjeta img {
  width: calc(100% - 40px);
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

main .tarjeta .botonera {
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .tarjeta .botonera .btn {
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 0;
  width: 48%;
  color: #fff;
  border: none;
  margin-bottom: 18px;
  font-size: 16px;
}

main .tarjeta .botonera .btn.comprar {
  background-color: #3E5FEB;
}

main .tarjeta .botonera .btn.comprar:hover {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #254BE6;
}

main .tarjeta .botonera .btn.ver {
  background-color: #C7C7C7;
}

main .tarjeta .botonera .btn.ver:hover {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #ACABAB;
}

body.oscuro main .tarjeta {
  background-color: #242526;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.oscuro main .tarjeta .img-tarjeta img {
  -webkit-box-shadow: 2px 2px 3px rgba(135, 135, 135, 0.4);
          box-shadow: 2px 2px 3px rgba(135, 135, 135, 0.4);
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

footer {
  background-color: #000;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 50px;
}

footer .flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 60px;
}

footer .flex-footer .nombre h3 {
  font-size: 16px;
  margin: 0;
  padding: 0 20px;
  line-height: 40px;
}

footer .flex-footer .redes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .flex-footer .redes ul li {
  float: left;
}

footer .flex-footer .redes ul li a {
  list-style: none;
  text-decoration: none;
  color: #ccc;
  display: block;
  padding: 0 20px;
  line-height: 40px;
}

footer .flex-footer .redes ul li a:hover {
  color: #eee;
}
/*# sourceMappingURL=estilos.css.map */